.mainContainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/38/Stranger_Things_logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;

  .text {
    max-width: 900px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 20px;

    span {
      font-size: 80px;
      min-height: 200px;
      font-weight: 700;
      text-shadow: 4px 4px 4px blueviolet;
    }
  }
}

@media (max-width: 1000px) {
  .mainContainer {
    .text {
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .mainContainer {
    .text {
      width: 100%;
      h1 {
        font-size: 40px;
      }
      p {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 320px) {
  .mainContainer {
    .text {
      width: 100%;
      h1 {
        font-size: 36px;
      }
      p {
        font-size: 15px;
      }
    }
  }
}

.main {
  min-height: 330px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  .tex {
    display: flex;
    flex-direction: column;
    gap: 20px;
    p {
      font-size: 20px;
    }
  }
}
