.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  max-width: 240px;
  width: 100%;
  height: 250px;
}
img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
}
