.pageLayout {
  padding-block: 80px;
  .pagesList {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      color: #ffffff;
    }
  }
  .list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    margin-top: 50px;
  }
  .content {
    display: flex;
    align-items: center;
    gap: 24px;
    .pagesList {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}


body {
  background-color: #040528;
}
