.container {
  background-image: url(https://image.tmdb.org/t/p/original/kfXgo2rMF1A19celCwLyQ4Xwpf8.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  color: #fff;
  overflow: hidden;
}
.container .bg {
  background-color: rgba(4, 21, 45, 0.8823529412);
  padding-top: 100px;
  position: relative;
}
.container .bg .mainContainer {
  display: flex;
  gap: 50px;
  padding-block: 40px;
  flex-direction: row;
}
.container .bg .mainContainer .image {
  width: 350px;
  height: auto;
  min-width: 250px;
  border-radius: 12px;
}
.container .bg .mainContainer .image img {
  width: 100%;
}
@media (max-width: 853px) {
  .container .bg .mainContainer {
    flex-direction: column;
  }
  .container .bg .mainContainer .image {
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }
  .container .bg .mainContainer .center {
    justify-content: space-around;
  }
  .container .bg .mainContainer .center .text {
    flex-direction: column;
  }
}
.container .bg .mainContainer .cardDetails {
  display: flex;
  flex-direction: column;
}
.container .bg .mainContainer .cardDetails .line {
  margin: 10px 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.container .bg .mainContainer .cardDetails h1 {
  width: 100%;
  max-width: 680px;
  font-weight: 300;
  margin-bottom: 20px;
}
.container .bg .mainContainer .cardDetails .category {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 30px;
}
.container .bg .mainContainer .cardDetails .category p {
  background-color: #da2f68;
  padding: 1px 5px;
  font-size: 10px;
  border-radius: 4px;
}
.container .bg .mainContainer .cardDetails .rating {
  width: 500px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.container .bg .mainContainer .cardDetails .rating .ratingCircle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
}
.container .bg .mainContainer .cardDetails .rating .circle {
  stroke: #a22754;
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  transition: all 0.5s ease-in-out;
  opacity: 0.3;
}
.container .bg .mainContainer .cardDetails .rating .playBut {
  transform: scale(0.4);
  display: inline-block;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  margin-left: -120px;
  gap: 15px;
}
.container .bg .mainContainer .cardDetails .rating .playBut p {
  font-size: 50px;
  color: #fff;
  transition: 0.5s;
  white-space: nowrap;
}
.container .bg .mainContainer .cardDetails .rating .playBut .triangle {
  transition: all 0.7s ease-in-out;
  stroke-dasharray: 240;
  stroke-dashoffset: 480;
  stroke: #ffffff;
  transform: translateY(0);
}
.container .bg .mainContainer .cardDetails .rating .playBut:hover p {
  color: #a22754;
}
.container .bg .mainContainer .cardDetails .rating .playBut:hover .triangle {
  stroke-dashoffset: 0;
  opacity: 1;
  stroke: #a22754;
  animation: nudge 0.7s ease-in-out;
}
@keyframes nudge {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}
.container .bg .mainContainer .cardDetails .rating .playBut:hover .circle {
  stroke-dashoffset: 0;
  opacity: 1;
}
.container .bg .mainContainer .description {
  display: flex;
  flex-direction: column;
}
.container .bg .mainContainer .description h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}
.container .bg .mainContainer .description p {
  width: 100%;
  line-height: 20px;
  font-weight: 200;
  word-wrap: break-word;
}
.container .bg .mainContainer .info {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 25px;
}
.container .bg .mainContainer .text {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container .bg .mainContainer .text span {
  font-weight: 600;
  font-size: 16px;
}
.container .bg .mainContainer .text p {
  opacity: 0.5;
}

.none {
  display: none;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  text-align: end;
  justify-content: center;
  align-items: center;
}
.modal p {
  width: 800px;
}
.modal iframe {
  width: 800px;
  height: 500px;
}

@media (max-width: 768px) {
  .container .mainContainer {
    flex-direction: column;
    gap: 20px;
  }
  .container .mainContainer .image {
    width: 1000px;
  }
}/*# sourceMappingURL=detailPage.module.css.map */