.container {
  background-image: url(https://image.tmdb.org/t/p/original/kfXgo2rMF1A19celCwLyQ4Xwpf8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding-bottom: 20px;
  .bg {
    background-color: #04152de1;
    .mainContainer {
      display: flex;
      padding-block: 40px;
      img {
        max-width: 350px;
        width: 100%;
        border-radius: 12px;
      }
      .cardDetails {
        h1 {
          font-weight: 300;
        }
      }
    }
  }
}
