.actors {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .carousel {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    padding-bottom: 20px;
  }

  .carousel::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }

  .carouselTrack {
    display: flex;
    flex-direction: row;
    gap: 20px;
    white-space: nowrap;
  }

  .carouselItem {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
  }

  .trailers {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .carousel {
      overflow-x: auto;
      overflow-y: hidden;
      width: 100%;
      padding-bottom: 20px;
    }

    .carousel::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
    }

    .carouselTrack {
      display: flex;
      flex-direction: row;
      gap: 20px;
      white-space: nowrap;
    }

    .carouselItem {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      gap: 20px;
    }
  }
}
