.container {
  padding: 20px;
  width: 100%;
  height: 100vh;

  background-image: url("https://img.freepik.com/free-photo/movie-background-collage_23-2149876003.jpg?semt=ais_hybrid&w=740&q=80");
  background-size: cover;
  background-position: center;
}
h3 {
  color: aliceblue;
}
p {
  color: aliceblue;
}
.error {
  font-size: 30px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  .erbut {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    button {
      display: flex;
      align-items: center;
      gap: 4px;
      cursor: pointer;
      transition: 0.3s;
    }
    button:hover {
      box-shadow: 0 0 15px white;
      transform: scale(1.05);
    }
  }
}
