@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  font-family: Inter;
  box-sizing: border-box;
  text-decoration: none;
  /* outline: 1px solid blue; */
}
body {
}
.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}

p,
a {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  transition: border-bottom 1s ease-in;
}

button {
  padding: 7px 14px;
  border-radius: 5px;
  border: none;
  transition: 0.7s;
}

button:hover {
  transform: scale(1.02);
}
